body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1128px;
  padding-left: 15;
  padding-right: 15;
  margin-left: auto;
  margin-right: auto;
}

/**=================================================================**/
/**========================header================================**/

header {
  background-color: #ffffff;
  width: 1128px;
  height: 72px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: content-box;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: start;
  flex-direction: row;
  border-bottom: 1px solid #e7e9fc;
}

.header-wrap {
  width: 1440px;
  height: 24px;
  margin: 0 auto;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-navigation {
  display: border;
}
.header-menu {
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px;
}
.header-logo-black {
  color: #2e2f42;
}
.header-menu:focus {
  color: #404bbf;
}
.header-menu-list {
}
.header-menu-list:focus {
  color: #404bbf;
}
.header-menu-link {
  color: #2e2f42;
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  display: inline-block;
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.header-contact {
  font-style: normal;
}

.header-contact-menu {
}

.header-contact-details {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contact-details:hover,
.header-contact-details:focus {
  color: #404bbf;
}

/**===============================================================**/
/**======================================main=====================**/

.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  text-align: center;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  width: 496px;
  padding-bottom: 48px;
  padding-top: 188px;
  box-sizing: content-box;
  margin: 0 auto;
}
.button {
  padding: 356px 635px 188px 636px;
}
.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
  width: 169px;
  height: 56px;
  box-sizing: content-box;
  padding: 16 32 16 32px;
  margin: 0 auto;
}
.hero-button:hover:hover {
  background-color: #404bbf;
}
.hero-button:focus:focus {
  background-color: #404bbf;
}
/**=================================================================**/
/**=======================features==================================**/

.features {
  background-color: #ffffff;
  text-align: center;
}
.feature-list {
  margin-top: 120px;
  margin-bottom: 120px;
}
.feature-item {
}

.team-wrap {
}
.feature-subtitle {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}
.feature-item-text {
  color: #434455;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.features-link:hover {
  background-color: #404bbf;
}
.features-link:focus {
  background-color: #404bbf;
}

/**======================================================================**/
/**=========================team=======================================**/

.team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
  max-width: 162px;
  margin: 0 auto;
}
.team-title-list {
}
.team-title-name {
  background-color: #ffffff;
}
.team-wrap {
  width: 1440px;
  height: 732px;
  margin: 0 auto;
  display: flex;
  padding-left: 24px;
}
.team-img {
}

.team-subtitle {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-text {
  color: #434455;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/**=====================================================================**/
/**===============================portfolio============================**/
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.portfolio-title-list {
}
.portfolio-substitute {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/**===================================================================**/
/**===============================footer===============================**/
footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-white {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
